[program:farto-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/Gestionale-Farto/artisan queue:work database --sleep=3 --tries=2 --memory=2048 --timeout=900
autostart=true
autorestart=true
numprocs=1
user=laradock
redirect_stderr=true

[program:levante-worker]
process_name=%(program_name)s_%(process_num)02d
command=php /var/www/Gestionale-Levante/artisan queue:work database --sleep=3 --tries=2 --memory=2048 --timeout=900
autostart=true
autorestart=true
numprocs=1
user=laradock
redirect_stderr=true
